a {
  color: #50b3a2;
  cursor: pointer;
  text-decoration: none;
}

#map {
  height: 100vh;
  width: 100vw;
}

.infoWindowTitle {
  font-size: 16px;
}

.infoWindowAddress {
  margin-bottom: 2px;
}

.sidebarAddress p {
  margin-bottom: 0;
}

.hamburger-container {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 50px;
  border: 2px solid #333;
  background-color: rgba(201, 201, 201, 0.8);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.hamburger-container .checkbox,
.hamburger-container .hamburger-lines {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger-container .checkbox {
  display: block;
  height: 26px;
  width: 32px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.hamburger-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #333;
}

.hamburger-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.offcanvas {
  width: 15vw !important;
}

.offcanvas-body {
  height: 100%;
}

.offcanvas-header {
  padding: 0 15px 0 5px;
}

.offcanvas-header a {
  padding-inline: 0;
}

.evBrand {
  font-weight: bold;
  margin-left: 8px;
}

.list-group {
  height: 100%;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Header Styles */
header {
  background: #50b3a2;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Navigation Styles */
nav {
  background: #333;
}

nav a {
  padding: 14px 14px;
  display: inline-block;
  text-decoration: none;
}

/* Main Content Styles */
.main-content {
  padding: 30px;
  background: #fff;
}

/* Footer Styles */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Button Styles */
.btn {
  display: inline-block;
  background: #50b3a2;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #333;
}

/* Form Styles */
form {
  margin: 20px 0;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

/* Location Details */
.location-details-left {
  float: left;
  width: 50%;
}

.location-details-right {
  float: right;
  width: 50%;
}

/* Equipment Details */
.quantity-box {
  display: inline-block;
  background-color: #50b3a2;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.connection-icon {
  width: 50px;
  height: auto; 
  margin-right: 10px;
  vertical-align: middle;
}

/* Usage Restrictions */
.bold-text {
  font-weight: bold;
}

.back-button {
  background: none;
  border: none;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.back-button:focus {
  outline: none;
}

.bi-arrow-left {
  color: #50b3a2;
}

.feedback-toast {
  margin-top: 50px;
}

.feedback-toast .toast-body {
  background-color: rgba(80, 179, 162, 0.55);
  color: #333;
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.toast-container {
  z-index: 1050;
}

.sidebar-title-icon {
  color: #50b3a2;
}

.menu-icon {
  color: #50b3a2;
  font-size: 24px;
  margin-right: 8px;
}

.addFavorite, .remove-favorite {
  margin-bottom: -25px;
}

.remove-favorite {
  color: rgb(204, 72, 72);
  font-size: 1.5rem;
  cursor: pointer;
}